.app.dark {
  --bg-color: #2a2a2a;
  --inverted-bg-color: #e7e7e7;

  --primary-color: #a4a1d0;
  --secondary-color: #ffffff;
  --inverted-primary-color: #2c0f57;
  --inverted-secondary-color: #3b2948;

}