.app.light {
  --bg-color: #e7e7e7;
  --inverted-bg-color: #2a2a2a;

  --primary-color: #2c0f57;
  --secondary-color: #3b2948;
  --inverted-primary-color: #a4a1d0;
  --inverted-secondary-color: #ffffff;
}