.NavBar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.title {
  font-size: 40px;
  color: var(--bg-color);
}

.links {
  width: 50%;
  display: flex;
  justify-content: space-around;

}